@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;600;700;800;900&family=Roboto&display=swap');

.header-wrapper{
    background-color: #1F2344;
    position: fixed;
    top: 0;
    left: 109px;
    width: calc(105vw - 180px);
}
.dashboard-text{
    margin-left: 1.5rem;
}

.bg-search{
    background-color: #1F2344;
}

.header-responsive{
    display: none;
}

.bg-violet{
    background-color: linear-gradient(rgba(118, 106, 178, 0.89) 0%, #342382 100%);
}
.logo{
    display: none;
}
@media only screen and (max-width: 800px) {
    .header-wrapper{
        position: fixed;
        top: 0;
        left: 0;
        width: calc(200vw - 150px);
    }
    .logo{
        display: block;
    }
    .dashboard-text{
        display: none;
    }
    .search-wrapper{
        display: none;
    }
    .user{
        display: none;
    }
    .header-responsive{
        display: block;
    }
}