@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;600;700;800;900&family=Roboto&display=swap');

.header-wrapper{
    background-color: #1F2344;
    position: fixed;
    top: 0;
    left: 102px;
    width: calc(101vw - 109px);
}
.dashboard-text{
    margin-left: 1.5rem;
}

.bg-search{
    background-color: #1F2344;
}

.header-responsive{
    display: none;
}

.header1-responsive{
    width: 10%;
    height: 50%;
}

.bg-violet{
    background-color: linear-gradient(rgba(118, 106, 178, 0.89) 0%, #342382 100%);
}
.logo{
    display: none;
}

.search-wrapper{
    margin-left: 2rem;
}

.close-sidebar{
    display: none;
}



@media  screen and (max-width: 425px) {
    .header-wrapper{
        position: fixed;
        top: 0;
        left: 0;
        width:100%;
        padding-right: 0.5rem !important;
    } 
    .logo{
        display: block;
    }
    .dashboard-text{
        display: none;
    }
    .search-wrapper{
        display: none;
    }
    #checkLogout{
        margin-right: 0rem !important;
    }

    .close-sidebar{
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    

  
}

.header-responsive{

}