*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
 }

.sidebar{
    overflow: hidden; 
    position:fixed; 
    left: 0;
    width: 6.5%;
    /* width: calc(16vw - 180px); */
    height:100%;
    background-color: #1F2344;
}

 @media only screen and (max-width: 1200px) {
    .sidebar{
        display: none;
    }
 }