*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
 }

.sidebar{
    overflow: hidden; 
    position:fixed; 
    left: 0;
    width: 110px;
    height:100%;
    background-color: #1F2344;
}

 @media  screen and (max-width: 425px) {
    .sidebar{
        width: 0px;
    }
 }

 /* @media  screen and (max-width: 1440px) {
     
 } */